.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    height: 32px;
    min-width: 32px;
    border-radius: 50px;

    background: #f5f7fa;
    color: rgba(0, 26, 52, 0.4);

    transition: all 0.2s ease;

    cursor: pointer;
}

.closeButton:hover {
    background: #ebeef2;
}