.positionCard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dividingLine {
    border-bottom: 1px solid var(--graphicNeutral);
}

.sellerName {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    color: var(--textPrimary);
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    gap: 16px;

    padding: 8px 0 16px 0 ;
}

.image {
    object-fit: cover;

    border-radius: 12px;
    overflow: hidden;

    width: 88px;
    height: 120px;

    flex-shrink: 0;
}

.productName {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;

    width: 260px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    justify-content: start;
}

.priceWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex-grow: 1;
}

.discountedPrice {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--graphicAccent);
}

.oldPrice {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    color: var(--textOriginalpriceAvailable);
    text-decoration: line-through;
}

.freshPrice {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--textPositive);
}

.quantity {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}