.logo {
    display: inline-flex;
    align-items: center;
    border: none;
    background: none;
    height: 44px;
    gap: 5px;
    color: var(--graphicPrimary);
    transition: color 0.15s ease-in;
}

.enabled {
    cursor: pointer;
}

.enabled:hover {
    color: var(--graphicPrimaryDark);
}

.icon {
}

.text {
}