.navButton {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    color: var(--graphicTertiary);
    border: none;

    width: 76px;
    height: 44px;

    cursor: pointer;
}

.hideText {
    width: 44px;
}

.navButton:hover {
    color: var(--graphicPrimary);
    transition: color 0.15s ease-in;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 0 2px;
    box-sizing: border-box;

    font-size: 12px;
    font-weight: 600;
    text-align: center;

    overflow: hidden;
}

.text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badgeValue {
    top: 0;
    left: calc(50% + 2px);
}

.badgeDot {
    top: 4px;
    left: calc(50% + 8px);
}

.hideText .badgeValue {
    left: auto;
    right: 0;
}
