.badge {
    position: absolute;
    z-index: 2;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    background: var(--graphicAccent);
    color: var(--textLightKey);
    border-radius: 50px;

    animation: pulse 0.15s ease;
    user-select: none;
}

.dot {
    width: 8px;
    height: 8px;
}

.value {
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
    font-size: 12px;
    font-weight: 600;
}

@keyframes pulse {
    0% {
        transform: scale(1.00);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.10);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.00);
    }
}