.toggleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.normal {
    stroke: var(--graphicTertiary);
    stroke-width: 2px;
    color: var(--bgMain);
}

.wished{
    stroke: none;
    stroke-width: 0;
    color: var(--graphicAccent);
}