.overlay {
    position: fixed;
    inset: 0;
    background: rgba(3, 8, 13, 0.24);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    background: var(--backgroundMain);
    border-radius: 32px;
}