.overlay {
    position: fixed;
    inset: 0;
    background: rgba(3, 8, 13, 0.24);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: var(--backgroundMain);
    border-radius: 16px;
    overflow: auto;
    max-height: 90vh;
    max-width: 90vw;
}