.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    gap: 8px;
    padding: var(--button-padding);
    font-weight: var(--button-font-weight);
}

.primary {
    background-color: var(--graphicPrimary);
    color: #ffffff;
}

.secondaryGhost {
    background-color: transparent;
    color: var(--graphicPrimary);
}

.primary:hover {
    background-color: var(--graphicPrimaryDark);
}

.secondary {
    background-color: var(--graphicSecondary);
    color: var(--graphicPrimary);
}

.secondary:hover {
    background-color: #D3E7FF;
}

.ghost {
    background-color: transparent;
    color: var(--textSecondary);
}

.ghost:hover {
    color: var(--graphicPrimary);
}

.neutral {
    border-radius: 12px;
    background: var(--bgOverlap);
    color: var(--graphicTertiary);
}

.neutral:hover {
    background: var(--graphicNeutral);
}

.fullWidth {
    display: flex;
    width: 100%;
}

.small {
    --button-padding: 8px 12px;
    font-size: 14px;
    --button-font-weight: 600;
}

.medium {
    --button-padding: 10px 16px;
    font-size: 16px;
    --button-font-weight: 600;
}

.large {
    --button-padding: 12px 20px;
    font-size: 16px;
    --button-font-weight: 600;
}

.iconOnly.small {
    --button-padding: 6px;
}

.iconOnly.medium {
    --button-padding: 10px;
}

.iconOnly.large {
    --button-padding: 12px;
}
