.pageLabel {
    margin-bottom: 24px;
}

.main {
    position: relative;
    flex-grow: 1;
    padding-top: 24px;
}

.sectionSpacer {
    position: relative;
    display: grid;
    align-items: start;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 380px;
}