.listHeader {
    margin-bottom: 24px;
}

.title {
    display: inline-flex;
    align-items: start;
    font-size: 28px;
    font-weight: 700;
    color: var(--textPrimary);
}

.count {
    color: var(--textTertiary);
    font-weight: 400;
    font-size: 16px;
    margin-left: 2px;
}

.main {
    position: relative;
    flex-grow: 1;
    padding-top: 24px;
}

.sectionSpacer {
    position: relative;
    display: grid;
    align-items: start;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 380px;
}