:root {
    --backgroundMain: #ffffff;
    --backgroundPage: #f5f7fa;

    --colorPrimary: #005bff;
    --colorSecondary: #ebf7ff;
    --colorGhost: #99a3ae;

    --textPrimary: #070707;
    --textAccent: #005bff;
    --textPlaceholcer: #9aa4ae;
    --textSecondary: #99a3ae;


    --fontMain: 'Roboto', 'SF Pro Display', 'Helvetica Neue', Arial;
}