:root {


    --bgMain: #ffffff;
    --bgPrimary: #f5f7fa;
    --bgPrimaryDark: #ebeef2;
    --bgModalOverlay: rgba(3, 8, 13, 0.24);
    --bgOverlap: rgba(204, 214, 228, 0.4);
    --bgAccentSecondary: rgba(255, 145, 175, 0.1);

    --colorMain: #ffffff;

    --graphicPrimary: #005bff;
    --graphicPrimaryDark: #0050E0;
    --graphicSecondary: #ebf7ff;
    --graphicAccent: #f1117e;
    --graphicRating: #ffa800;
    --graphicTertiary: rgba(0, 26, 52, 0.4);
    --graphicTertiaryDark: rgba(0, 26, 51, 0.6);
    --graphicNeutral: rgba(204, 214, 228, 0.6);
    --graphicNeutralLight: rgba(55, 175, 255, 0.1);
    --graphicQuarter: #b3bcc5;

    --textPrimary: #070707;
    --textLightKey: #ffffff;
    --textSecondary: rgba(0, 26, 51, 0.6);
    --textTertiary: rgba(0, 26, 52, 0.4);
    --textAction: #005bff;
    --textPositive: #00c451;
    --textWarning: #ffa800;
    --textNegative: #f53c14;
    --textPlaceholcer: #9aa4ae;
    --textOriginalpriceAvailable: #99a3ae;

    --layerBackground: #ffffff;


    --fontMain: 'Onest', 'Roboto', 'SF Pro Display', 'Helvetica Neue', Arial;
}

@font-face {
    font-family: 'Onest';
    src: url('@/shared/assets/fonts/Onest-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}