:root {
    --color-background-page: #f5f7fa;
    --color-primary: #005bff;
    --color-secondary: #ebf7ff;
    --color-text-secondary: #99A3AE;


    --font-main: 'Roboto', 'SF Pro Display', 'Helvetica Neue', Arial;
}