.addressButton {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: none;
    background: none;

    font-size: 14px;
    font-weight: 400;

    cursor: pointer;

    gap: 4px;
}

.emptyAddress {
    font-weight: 600;
}

.label {
    color: var(--textTertiary);
    font-weight: 600;
}

.destination {
    color: var(--textAction);
}

:where(.emptyAddress .label) {
    color: rgba(0, 26, 51, 0.6);
}