.main{
    display: flex;
    flex-direction: column;
}

.sectionSpacer {
    position: relative;
    display: grid;
    align-items: start;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 460px;
}

.leftSection{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pageLabel{
    margin-bottom: 18px;
}