.badge {
    position: absolute;

    /*top: -4px;*/
    /*right: -6px;*/

    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    background: #f1117e;
    color: #ffffff;

    border-radius: 50px;

    animation: pulse 0.15s ease;
    user-select: none;
}

.dot {
    width: 8px;
    height: 8px;
    /*top: -2px;*/
    /*right: -2px;*/
}

.value {
    min-width: 8px;
    height: 8px;
    padding: 6px;
    /*top: -7px;*/
    /*right: -9px;*/
}