.badge {
    position: absolute;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    background: #f1117e;
    color: #ffffff;

    border-radius: 50px;

    animation: pulse 0.15s ease;
    user-select: none;

    z-index: 2;
}

.dot {
    width: 8px;
    height: 8px;

    top: -3px;
    right: -3px;
}

.value {
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
    font-size: 11px;
    font-weight: 600;

    top: -5px;
    right: -8px;
}

.overflow {
    right: -14px;
}