.badge {
    position: absolute;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    background: #f1117e;
    color: #ffffff;

    border-radius: 50px;

    animation: pulse 0.15s ease;
    user-select: none;

    z-index: 2;

    left: calc(50% + 2px);
    vertical-align: top;
}

.dot {
    width: 8px;
    height: 8px;

    top: 4px;
    left: calc(50% + 8px);
}

.value {
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
    font-size: 12px;
    font-weight: 600;

    top: 0;
}