.navButton {
    display: inline-flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: var(--fontMain), sans-serif;
    font-size: 12px;
    font-weight: 600;

    background: transparent;
    color: var(--textSecondary);
    border: none;

    width: 76px;

    cursor: pointer;
}

.navButton:hover {
    color: var(--colorPrimary);
    transition: color 0.15s ease-in;
}

.iconWrapper {
    position: relative;
    display: inline-flex;
}