.navButton {
    display: inline-flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: var(--font-main), sans-serif;
    font-size: 12px;
    font-weight: 600;

    background: transparent;
    color: var(--color-text-secondary);
    border: none;

    width: 76px;

    cursor: pointer;
}

.navButton:hover {
    color: var(--color-primary);
    transition: color 0.15s ease-in;
}

.iconWrapper {
    position: relative;
    display: inline-flex;
}