.navButton {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    color: var(--textSecondary);
    border: none;

    width: 76px;
    height: 44px;

    cursor: pointer;
}

.hideText{
    width: 44px;
}

.navButton:hover {
    color: var(--colorPrimary);
    transition: color 0.15s ease-in;
}

.content{
    display: flex;
    flex-direction: column;

    align-items: center;

    font-family: var(--fontMain), sans-serif;
    font-size: 12px;
    font-weight: 600;

    text-align: center;
}